<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dbms.blooddonation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".RecipientResultsActivity"></activity>
        <activity android:name=".RecipientActivity" />
        <activity android:name=".InventoryResults" />
        <activity android:name=".BloodInventory" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NeedResults" />
        <activity android:name=".StaffResult" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".EnrollActivity" />
        <activity android:name=".Frontactivity" />
        <activity android:name=".BloodResults" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BloodActivity" />
    </application>

</manifest>